body {
    background-color: black;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat';
    height: 100vh;
}
h1, h2 {
    color: #fff;
    font-size: 40px;
}
/* divid */
.Contacts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #CADB36;
    width: 30%;
    height: 70%;
    margin-left: 160px;
    margin-right: 100px;
}
.Contacts p {
    font-size: 20px;
    color: black;
    margin: 0;
    font-weight: bold;
}
.map {
    flex: 1;
    margin-right: 160px;
    height: 70%;
    width: 100%;
}
.contactcontainer {
    display: flex;
    flex-direction: row;
    height: 80%;
    width: 100%;
}
/* home button */
.home-container {
    display: flex;
    align-items: center;
    height: 100px;
    padding-left: 150px;
    padding-top: 30px;
}
.home-container a {
    display:flex;
    align-items: center;
    text-decoration: none;
}
.home-container img {
    max-width: 100%;
    height: auto;
}
.home-container h2 {
    font-size: 21px;
    font-weight: 700;
}
section {
    display: flex;
    justify-content: space-between;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 100px;
}
.column-container {
    display: flex;
    flex: 1;
    flex-direction: column;
    box-sizing: border-box;
}
.w-30{
    width: 30%;
}
.w-33{
    width: 33%;
}
.w-66{
    width: 66%;
}
.f-20{
    font-size: 20px;
}
.f-16{
    font-size: 16px;
}
.f-12{
    font-size: 12px;
}
.ml-60{
    margin-left: 60px;
}
.mr-60{
    margin-right: 60px;
}
.column {
    border-right: 2px solid #fff;
    padding-right: 60px;
    padding-left: 60px;
    height: 100%;
}
.page-title {
    padding-left: 160px;
    margin: 0;
}
.first{
    background-image: url("img/bänner.png");
    background-size: cover;
    background-position-y: bottom;
    background-position-x: left;
    background-repeat: no-repeat;
    width: 100%;
    height: 40vh;
}
.second{
    background-image: url("img/pilt ja musterPõhipilt.png");
    background-size: contain;
    background-position: left;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}
.third {
    display: flex;
    box-sizing: border-box;
    width: 38%;
}
.third img {
    width: 100%;
    height: auto;
    display: block;
    margin: auto;
    padding: 25px;
}
.fourth {
    background-image: url("img/Polygon 1.png");
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    width: 65%;
    height: 100%;
    margin-left: auto;
    flex: 1;
}
.fourth h1 {
    position: absolute;
    width: 300px;
    font-size: 34px;
    margin-top: 0;
    right: 300px;
    text-align: center;
}
.fifth {
    background-image: url("img/logo2024 1Mängudelogo.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 30%;
    height: 30%;
    position: absolute;
    left: 70%;
    bottom: 35%; /* Adjust as needed to position the second image */
}
nav{
    display: flex;
    color: black;
    background-color: #CADB36;
    align-items: center;
    width: 50% ;
    box-sizing: border-box;
    margin-left: auto;
    height: 5vh;
}
nav a{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    color: black;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
}
nav a:hover{
    background-color: #A2AF2B;
}
.active{
    background-color: #A2AF2B;
}
.navbar-container{
    display: flex;
    margin-bottom: 60px;
}
ul {
    list-style-type: none;
    display: flex;
    flex: 1;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    height: 100%;
}
li {
    display: flex;
    flex: 1;
    font-size: 17px;
    font-weight: bold;
}
.column h2 {
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.column p {
    color: #FFF;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    line-height: 1.5em; 
    margin-top: 0;
    margin-bottom: 20px;
}
.column img {
    margin-bottom: 20px;
    max-width:100%;
    height: auto;
}
.container0{
    height: 70%;
    display: flex;
    margin-top: 35px;
}
.container1{
    height: 100%;
    margin-right: auto;

}
.container2{
    height: 75%;
    width: 100%;
    margin-left: auto;
    margin-top: auto;
    position: relative;
}

.no-border {
    border: none;
}
/* table */
table {
    border-spacing: 0;
    padding-bottom: 50px;
    padding-left: 160px;
    padding-right: 160px;
    width: -webkit-fill-available;
}
.th1 {
    background-color: #EF4044;
    height: 35px;
    color: #FFFFFF;
}
.th2 {
    background-color: #B41E8E;
    height: 35px;
    color: #FFFFFF;
}
.th3 {
    background-color: #20C4F4;
    height: 35px;
    color: #FFFFFF;
}
th span.left {
    float: left;
    text-align: left;
    padding-left: 10px;
}

th span.right {
    float: right;
    text-align: right;
    padding-right: 10px;
}
td:nth-child(1){
    width: 10%;
    height: 65px;
    background-color: #D9D9D9;
    border: 10px solid black;
    color: black;
    font-weight: bold;
    text-align: center;
    border-left: none;
}
td:nth-child(2){
    width: 75%;
    background-color: #D9D9D9;
    border: 10px solid black;
    color: black;
    font-weight: bold;
    padding-left: 15px;
    text-align: left;
}
td:nth-child(3){
    width: 15%;
    background-color: #D9D9D9;
    border: 10px solid black;
    color: black;
    font-weight: bold;
    padding-left: 15px;
    text-align: left;
    border-right: none;
}
.image-container {
    position: relative;
    width: 100%;
    max-width: 800px;
    margin: auto;
    margin-top: 40px;
}

.image-container img{
    width: 100%;
    height: auto;
    display: block;
}

.text-overlay {
    position: absolute;
    top: 0px;
    right: -30px;
    text-align: center;
}

.company-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 300px;
    height: 400px;
    box-sizing: border-box;
}

.company-image-container {
    display: flex;
    box-sizing: border-box;
    height: 200px;
    background-color: #fff;
    padding-left: 20px;
    padding-right: 20px;
}

.company-container img {
    background-color: #FFF;
    width: 100%;
    height: auto;
    display: block;
    margin: auto;
}

.company-text {
    background-color: #D9D9D9;
    box-sizing: border-box;
    height: 200px;
    border-top: 1px solid black;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: 500;
}

@media (max-width: 1000px) {
    nav {
        width: 100%;
    }
    .fifth {
        display: none;
    }
    .fourth {
        margin-left: 0px;
        background-image: none;
    }
    .fourth h1 {
        position: static;
    }
}