body {
    background-color: black;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat';
    height: 100vh;
}
h1, h2 {
    color: #fff;
    font-size: 40px;
}

/* divid */
.Contacts {
    background-color: #CADB36;
    width: 50%;
    height: 70%;
    margin-left: 100px;
    padding-left: 30px;
    margin-right: 130px;
    flex: 1;
}
.Contacts p {
    font-size: 20px;
    color: black;
    line-height: 24px;
    margin: 90px;
    font-weight: bold;
}
.map {
    flex: 1;
    margin-right: 200px;
    height: 70%;
    width: 100%;
}
.contactcontainer {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
}
/* home button */
.home-container {
    display: flex;
    align-items: center;
    height: 100px;
    padding-left: 150px;
    padding-top: 30px;
}
.home-container a {
    display:flex;
    align-items: center;
    text-decoration: none;
}
.home-container img {
    max-width: 100%;
    height: auto;
}
.home-container h2 {
    font-size: 21px;
    font-weight: 700;
}
section {
    display: flex;
    padding-left: 100px;
    padding-right: 100px;
}
.column-container {
    display: flex;
    flex-direction: column;
    width: 30%;
    box-sizing: border-box;
}
.column {
    border-right: 2px solid #fff;
    padding-right: 60px;
    padding-left: 60px;
    height: 100%;
}
.page-title {
    padding-left: 160px;
    margin: 0;
    width: 100%;
}
.first{
    background-image: url("img/bänner.png");
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 40vh;
}
.second{
    background-image: url("img/pilt ja musterPõhipilt.png");
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 85%;
    flex: 1;
    display: flex;
}
.third {
    background-image: url("img/logodlogod.png");
    background-position: bottom left;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 15%;
    width: 100%;
    flex: 1;
    display: flex;
}
.fourth {
    background-image: url("img/Polygon 1.png");
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    width: 65%;
    height: 100%;
    margin-left: auto;
    flex: 1;
}
.fourth h1 {
    font-size: 34px;
    color: #FFFFFF;
    text-align: left; 
    margin-right: auto;
    margin-top: 0;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}
.fifth {
    background-image: url("img/logo2024 1Mängudelogo.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 30%;
    height: 40%;
    position: absolute;
    left: 70%;
    bottom: 35%; /* Adjust as needed to position the second image */
}
nav{
    display: flex;
    color: black;
    background-color: #CADB36;
    align-items: center;
    width: 50% ;
    box-sizing: border-box;
    margin-left: auto;
    height: 5vh;
}
nav a{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    color: black;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
}
nav a:hover{
    background-color: #A2AF2B;
}
.navbar-container{
    display: flex;
}
ul {
    list-style-type: none;
    display: flex;
    flex: 1;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    height: 100%;
}
li {
    display: flex;
    flex: 1;
    font-size: 17px;
    font-weight: bold;
}
.column p {
    color: #FFF;
    font-family: 'Montserrat';
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal; 
    margin-top: 0;
    margin-bottom: 20px;
}
.column img {
    margin-bottom: 20px;
    max-width:100%;
    height: auto;
}
.container0{
    height: 50vh;
    display: flex;
    padding-top: 35px;
}
.container1{
    width: 50%;
    height: 100%;
    margin-right: auto;

}
.container2{
    height: 75%;
    width: 50%;
    margin-left: auto;
    margin-top: auto;
    position: relative;
}

.no-border {
    border: none;
}
/* table */
table {
    width: 100%;
    border-spacing: 0;
    margin-bottom: 30px;
}
.th1 {
    background-color: #EF4044;
    height: 35px;
    color: #FFFFFF;
}
.th2 {
    background-color: #B41E8E;
    height: 35px;
    color: #FFFFFF;
}
.th3 {
    background-color: #20C4F4;
    height: 35px;
    color: #FFFFFF;
}
th span.left {
    float: left;
    text-align: left;
    padding-left: 10px;
}

th span.right {
    float: right;
    text-align: right;
    padding-right: 10px;
}
td:nth-child(1){
    width: 10%;
    height: 65px;
    background-color: #D9D9D9;
    border: 10px solid black;
    color: black;
    font-weight: bold;
    text-align: center;
}
td:nth-child(2){
    width: 75%;
    background-color: #D9D9D9;
    border: 10px solid black;
    color: black;
    font-weight: bold;
    padding-left: 15px;
    text-align: left;
}
td:nth-child(3){
    width: 15%;
    background-color: #D9D9D9;
    border: 10px solid black;
    color: black;
    font-weight: bold;
    padding-left: 15px;
    text-align: left;
}